@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

<div class="breadcrumb_area mb-30">
    <div class="container">
        <div class="row">
            <div class="breadcrumb_wrapper">
                <div class="page_title">
                    <h3>Zarządzanie kontem</h3>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container mb-30">
    <div class="row">
        <div class="col-md-3 mb-30">
            @await Html.PartialAsync("_ManageNav")
        </div>
        <div class="col-md-6">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}