@using DevAdventCalendarCompetition.Views.Manage
@using DevAdventCalendarCompetition.Services
@inject IdentityService IdentityService
@{
    var hasExternalLogins = (await IdentityService.GetExternalAuthenticationSchemes()).Any();
}

<ul class="nav nav-pills nav-stacked">
    <li class="@ManageNavPages.IndexNavClass(ViewContext)"><a asp-action="Index">Profil</a></li>
    <li class="@ManageNavPages.ChangePasswordNavClass(ViewContext)"><a asp-action="ChangePassword">Zmiana hasła</a></li>
    @if (hasExternalLogins)
    {
        <li class="@ManageNavPages.ExternalLoginsNavClass(ViewContext)"><a asp-action="ExternalLogins">Logowanie Google/FB/Twitter/GitHub</a></li>
    }
</ul>