@model DisplayStatisticsViewModel
@using static DevAdventCalendarCompetition.Resources.ViewsMessages

@{
    ViewData["Title"] = @DisplayStatistics;
    ViewData.AddActivePage(ManageNavPages.DisplayStatistics);
}


<div class="area_title mb-30">
    <h3>@ViewData["Title"]</h3>
</div>

<!-- I wanted to use Html.Display(CorrectAnswerDateMessage) but Im unsure how to do it using css -->

<div class="row">
    <div class="col-md-12">
        <form method="post" class="contact_form">
            <div class="form-group text_field text_field_default">
                <label> Pytanie x </label>
                <input asp-for="CorrectAnswerDateMessage" disabled />
                <input asp-for="WrongAnswerCountMessage" disabled />
            </div>
        </form>
    </div>
</div>