@model SetPasswordViewModel
@{
    ViewData["Title"] = "Ustaw hasło";
    ViewData.AddActivePage(ManageNavPages.ChangePassword);
}

<div class="area_title mb-30">
    <h3>@ViewData["Title"]</h3>
</div>
@await Html.PartialAsync("_StatusMessage", Model.StatusMessage)
<p class="text-info">
    Nie masz lokalnego loginu/hasła dla tej strony. Dodaj lokalne konto, żeby móc się logować.
</p>
<div class="row">
    <div class="col-md-6">
        <form method="post" class="contact_form">
            <div class="form-group text_field_default">
                <label asp-for="NewPassword"></label>
                <input asp-for="NewPassword"/>
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
            <div class="form-group text_field_default">
                <label asp-for="ConfirmPassword"></label>
                <input asp-for="ConfirmPassword"/>
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="chris_btn reveal">Ustaw hasło</button>
        </form>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}