@using static DevAdventCalendarCompetition.Resources.ViewsMessages

@{
    ViewData["Title"] = @AccessDenied;
}

<div class="breadcrumb_area">
    <div class="container">
        <div class="row">
            <div class="breadcrumb_wrapper">
                <div class="page_title">
                    <h3>@Error</h3>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="event_txt">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h1>@NoAccessToResources</h1>
            </div>
        </div>
    </div>
</section>