@using static DevAdventCalendarCompetition.Resources.ViewsMessages

<div class="breadcrumb_area mb-30">
    <div class="container">
        <div class="row">
            <div class="breadcrumb_wrapper">
                <div class="page_title">
                    <h3>@ConfirmEmail</h3>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container mb-30">
    <div class="row">
        <div class="col-md-12">
            <div class="area_title">
                <h3 class="black mb-20">@EmailConfirmed</h3>
                <p>@EmailConfirmedDesc</p>
                <div class="row">
                    <div class="col-sm-3">
                        @Html.ActionLink("Zaloguj się!", "Login", "Account", routeValues: null, htmlAttributes: new { @class = "chris_btn", id = "loginLink" })
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>