<div class="content-centered">
    <div class="row text-center">
        <h3>
            Twój email został już potwierdzony. @Html.ActionLink("Zaloguj się!", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
        </h3>
        <h3>
            <b>@Html.ActionLink("Zaloguj się!", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</b>
        </h3>
    </div>
</div>