@using static DevAdventCalendarCompetition.Resources.ViewsMessages

@{
    ViewBag.Title = @ExternalLoginFailure;
}

<hgroup>
    <h2>@ViewBag.Title</h2>
    <h3 class="text-danger">@ExternalLoginFailureDescription</h3>
</hgroup>