@model ExternalLoginViewModel
@{
    ViewData["Title"] = "Rejestracja";
}

<h2>@ViewData["Title"]</h2>
<div class="content-centered">
    <section class="center-block">
        <h4>Połącz swoje konto @ViewData["LoginProvider"]</h4>

        <p class="text-info">
            Zostałeś pomyślnie uwierzytelniony za pomocą serwisu <strong>@ViewData["LoginProvider"]</strong>.
            Wpisz poniżej adres e-mail dla tej witryny i kliknij przycisk Zarejestruj, aby zakończyć rejestrację.
        </p>

        <div class="row">
            <div class="col-md-4">
                <form asp-action="ExternalLoginConfirmation" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Email"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-default">Zarejestruj</button>
                </form>
            </div>
        </div>
    </section>
</div>
@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
