@{
    ViewData["Title"] = "Potwierdzenie resetowania hasła";
}

<h2>@ViewData["Title"]</h2>
<div class="content-centered">
    <div class="row">
        <p>
            Sprawdź swój e-mail, aby zresetować hasło.
        </p>
    </div>
</div>

<br />
<div class="row content-centered">
    <img id="santa" src="~/images/santa.JPG" alt="Święty Mikołaj" />
</div>

