<div class="content-centered">
    <div class="row center-block">
        <h3>
            Sprawdź swój e-mail, aby zresetować hasło.
        </h3>
    </div>
</div>

<br />
<div class="row text-center">
    <img id="santa" src="~/images/santa.JPG" alt="Święty Mikołaj" />
</div>

