@model ForgotPasswordViewModel
@{
    ViewData["Title"] = "Zapomniałeś/aś hasła?";
}

<h2>@ViewData["Title"]</h2>
<div class="content-centered">
    <div class="row">
        <form asp-action="ForgotPassword" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email">Podaj swój email</label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="row content-centered">
                    <button type="submit" class="btn btn-default">Resetuj</button>
                </div>
            </div>
        </form>
    </div>
</div>

<br />
<div class="row content-centered">
    <img id="santa" src="~/images/santa.JPG" alt="Święty Mikołaj" />
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
