@{
    ViewData["Title"] = "Zablokowany";
}

<header>
    <h2 class="text-danger">@ViewData["Title"]</h2>
    <p class="text-danger">To konto zostało zablokowane. Spróbuj ponownie później.</p>
</header>