@using static DevAdventCalendarCompetition.Resources.ViewsMessages

@{
    ViewData["Title"] = @LockOut;
}

<header>
    <h2 class="text-danger">@ViewData["Title"]</h2>
    <p class="text-danger">@LockOutDesc</p>
</header>