@{
    ViewData["Title"] = "Konto utworzone!";
}

<h2>@ViewData["Title"]</h2>
<h3>
    Zanim się zalogujesz, prosimy o potwierdzenie rejestracji. Na Twój adres e-mail została wysłana wiadomość z linkiem potwierdzającym.
</h3>
