@using static DevAdventCalendarCompetition.Resources.ViewsMessages

<div class="breadcrumb_area mb-30">
    <div class="container">
        <div class="row">
            <div class="breadcrumb_wrapper">
                <div class="page_title">
                    <h3>@RegistrationConfirmation</h3>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container mb-30">
    <div class="row">
        <div class="col-md-12">
            <div class="area_title">
                <h3 class="black mb-20">@RegisterConfirmationDesc</h3>
                <p>@RegisterConfirmationDescEmail</p>
            </div>
        </div>
    </div>
</div>