<div class="content-centered">
    <div class="row text-center">
        <h3>
            Twoje hasło zostało zresetowane! 
        </h3>
        <h3>
            <b>Kliknij <a asp-action="Login">TU</a> by się zalogować.</b>
        </h3>
    </div>
</div>