<?xml version="1.0" encoding="utf-8" ?>
<nlog throwExceptions="true" xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" >
  <targets>
    <target name="file" xsi:type="File"
        layout="${longdate} ${level} ${logger} ${message}"
        fileName="${basedir}/nlog/${shortdate}.log" />
    <target xsi:type="NLogViewer"
            name="viewer"
            address="udp://127.0.0.1:7071"/>
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="file" />
    <logger name="*" minlevel="Trace" writeTo="viewer" />
  </rules>

  <rules>
  </rules>
</nlog>