@{
    ViewBag.Title = "TEST 6";
}
@model DevAdventCalendarCompetition.Models.Test


<div class="jumbotron">
    <h1>TEST 6</h1>
    <p class="lead">We will remove spaces from answer to simplify responding.</p>
</div>
<div class="row">
    <div class="col-md-12" style="margin-bottom: 20px">
        <b>Start time: </b> @Model.StartDate.Value.ToLongTimeString() - <b>End date: </b> @Model.EndDate.Value.ToLongTimeString() - <b>Time to end: </b> <span id="countdown"></span>
    </div>
    <div class="col-md-12">
        <p> 
            What is Objectivity's most important value:
        </p>
    </div>
    <div class="col-md-12">
        @using (Html.BeginForm(FormMethod.Post))
        {
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                <label for='answer'>Answer</label>
                <input id='answer' name="answer" type="text" class="form-control" style="text-transform: uppercase">
            </div>
            <button type="submit" class="btn btn-default">Send</button>
        }
        <form class="form" method="POST" action="">
        </form>
    </div>
</div>
<script>
        var endDateString = '@Model.EndDate.Value.ToString("o")';
        var endDate = new Date(endDateString);

        document.addEventListener("DOMContentLoaded", function(event) {
            timeSync.url = "/Home/GetServerTime";
            timeSync
                .getTimeDifference()
                .then(function() {
                    var clientEndDateTicks = endDate - timeSync.timeDifference;

                    var clientEndDate = new Date(clientEndDateTicks);

                    $('#countdown').countdown(clientEndDate, function(event) {
                        $(this).html(event.strftime('%M m. %S s.'));
                    }).on('finish.countdown', function(event) {
                        setTimeout(function() {
                            location.reload(true);
                        }, 1000);
                    });
                });
        });
</script>