<div class="breadcrumb_area">
    <div class="container">
        <div class="row">
            <div class="breadcrumb_wrapper">
                <div class="page_title">
                    <h3>O nas</h3>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="promot_section">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-sm-offset-2 col-md-offset-3">
                <div class="promot_content_wrapper">
                    <div class="promt_content area_title">
                        <h3>Dziękujemy! Bez Was nie było by to możliwe!</h3>
                    </div>
                    <div class="gift_box">
                        <img src="~/theme-2019/images/gifts_.png" alt="">
                    </div>
                    <div class="snata_with_bag reveal animated" data-reveal-anim="bounceIn" data-anim-delay="0.3s">
                        <img src="~/theme-2019/images/santa_with_bag.png" alt="Begger_santa">
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-4">
                <div class="bags reveal animated" data-reveal-anim="fadeInRight" data-anim-delay="0.3s">
                    <img src="~/theme-2019/images/gift_bag.png" alt="gifts">
                </div>
            </div>
        </div>
    </div>
</section>

<section class="pricing_area section_padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row person-wrapper single_pricing_block reveal animated" data-reveal-anim="fadeInLeftShort">
                    <div class="col-md-2 col-sm-3 person">
                        <img src="~/images/people/photo_weronika_tobor.png" alt="Weronika Tobor" width="80" class="img-responsive" />
                    </div>
                    <div class="col-md-10 col-sm-9">
                        <div class="pricing_right al">
                            <div class="price_detail">
                                <div class="pricing_title">
                                    <h4>Weronika Tobor</h4>
                                </div>
                                <div class="event_info">
                                    <ul>
                                        <li>
                                            Główny organizator projektu od 2017 roku oraz programista. Bloguje na <a href="http://www.programmer-girl.com" target="_blank" class="link">www.programmer-girl.com</a> i aktywnie udziela się we wrocławskim świecie IT. Zaangażowana m. in. w organizację Wroc# Online.
                                        </li>
                                        <li>
                                            <a href="http://www.programmer-girl.com" target="_blank" class="icon-social-round icofont icofont-site-map"></a>
                                            <a href="http://www.facebook.com/programmergirlblog" target="_blank" class="icon-social-round icofont icofont-social-facebook"></a>
                                            <a href="http://www.twitter.com/_programmergirl" target="_blank" class="icon-social-round icofont icofont-social-twitter"></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="row person-wrapper single_pricing_block reveal animated" data-reveal-anim="fadeInRightShort">
                    <div class="col-md-2 col-sm-3 person">
                        <img src="~/images/people/photo_michal_gellert.png" alt="Weronika Tobor" width="80" class="img-responsive" />
                    </div>
                    <div class="col-md-10 col-sm-9">
                        <div class="pricing_right al">
                            <div class="price_detail">
                                <div class="pricing_title">
                                    <h4>Michał Gellert</h4>
                                </div>
                                <div class="event_info">
                                    <ul>
                                        <li>
                                            Odpowiedzialny za osobowość prawną, marketing, oraz dostarczenie projektu. Bloger, vloger, programista, tata. Do tego tworzy kursy, czasem nawet znajdzie czas na wakacje... w górach!
                                        </li>
                                        <li>
                                            <a href="http://www.michalgellert.pl" target="_blank" class="icon-social-round icofont icofont-site-map"></a>
                                            <a href="http://.facebook.com/MichalGellertPl" target="_blank" class="icon-social-round icofont icofont-social-facebook"></a>
                                            <a href="http://www.twitter.com/MichalGellert" target="_blank" class="icon-social-round icofont icofont-social-twitter"></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="row person-wrapper single_pricing_block reveal animated" data-reveal-anim="fadeInLeftShort">
                    <div class="col-md-2 col-sm-3 person">
                        <img src="~/images/people/photo_mikolaj_jakubowski.jpg" alt="Mikołaj Jakubowski" width="80" class="img-responsive" />
                    </div>
                    <div class="col-md-10 col-sm-9">
                        <div class="pricing_right al">
                            <div class="price_detail">
                                <div class="pricing_title">
                                    <h4>Mikołaj Jakubowski</h4>
                                </div>
                                <div class="event_info">
                                    <ul>
                                        <li>
                                            Wykonawca zeszłorocznej aplikacji. Programista różnych technologii m.in. PHP, Java, .NET, zależy co na daną chwilę potrzeba. Artysta zarówno kodując jak i hobbystycznie. Uwielbia rysować zarówno cyfrowo jak i standardowo. Ponadto crossfiter, mąż i tata.
                                        </li>
                                        <li>
                                            <a href="http://www.programista-artysta.pl" target="_blank" class="icon-social-round icofont icofont-site-map"></a>
                                            <a href="http://www.facebook.com/blazestudioart" target="_blank" class="icon-social-round icofont icofont-social-facebook"></a>
                                            <a href="http://www.twitter.com/blazestudio_art" target="_blank" class="icon-social-round icofont icofont-social-twitter"></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="row person-wrapper single_pricing_block reveal animated" data-reveal-anim="fadeInRightShort">
                    <div class="col-md-2 col-sm-3 person">
                        <img src="~/images/people/photo_radek_maziarka.png" alt="Radek Maziarka" width="80" class="img-responsive" />
                    </div>
                    <div class="col-md-10 col-sm-9">
                        <div class="pricing_right al">
                            <div class="price_detail">
                                <div class="pricing_title">
                                    <h4>Radek Maziarka</h4>
                                </div>
                                <div class="event_info">
                                    <ul>
                                        <li>
                                            Główny konsultant do spraw marketingu. Technology Development Manager, Team Leader i programista w obszarze .NET prowadzący wewnętrzne prezentacje i szkolenia, a także organizujący webinarium programistyczne WROC# Online. Po pracy pomaga firmom w projektach IT oraz wspomaga technologicznie Stowarzyszenie Libertariańskie. Zwolennik dostarczania wartości małymi krokami.
                                        </li>
                                        <li>
                                            <a href="http://www.radblog.pl" target="_blank" class="icon-social-round icofont icofont-site-map"></a>
                                            <a href="http://www.facebook.com/radblog.radek.maziarka" target="_blank" class="icon-social-round icofont icofont-social-facebook"></a>
                                            <a href="http://www.twitter.com/RadekMaziarka" target="_blank" class="icon-social-round icofont icofont-social-twitter"></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="row person-wrapper single_pricing_block reveal animated" data-reveal-anim="fadeInRightShort">
                    <div class="col-md-2 col-sm-3 person">
                        <img src="~/images/people/photo_patryk_lotzwi.jpg" alt="Patryk Lotzwi" width="80" class="img-responsive" />
                    </div>
                    <div class="col-md-10 col-sm-9">
                        <div class="pricing_right al">
                            <div class="price_detail">
                                <div class="pricing_title">
                                    <h4>Patryk Lotzwi</h4>
                                </div>
                                <div class="event_info">
                                    <ul>
                                        <li>
                                            Programista .NET, fan(atyk) automatyzacji. Pasjonat programowania i czystego kodu.Aktywny uczestnik lokalnych konferencji i grup programistycznych. Po godzinach miłośnik książek, filmów, seriali i gier fantasy oraz sci-fi.
                                        </li>
                                        <li>
                                            <a href="https://plotzwi.com/" target="_blank" class="icon-social-round icofont icofont-site-map"></a>
                                            <a href="http://www.facebook.com/patryk.lotzwi" target="_blank" class="icon-social-round icofont icofont-social-facebook"></a>
                                            <a href="http://www.twitter.com/plotzwi" target="_blank" class="icon-social-round icofont icofont-social-twitter"></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="row person-wrapper single_pricing_block reveal animated" data-reveal-anim="fadeInRightShort">
                    <div class="col-md-2 col-sm-3 person">
                        <img src="~/images/people/photo_krzysztof_owsiany.png" alt="Krzysztof Owsiany" width="80" class="img-responsive" />
                    </div>
                    <div class="col-md-10 col-sm-9">
                        <div class="pricing_right al">
                            <div class="price_detail">
                                <div class="pricing_title">
                                    <h4>Krzysztof Owsiany</h4>
                                </div>
                                <div class="event_info">
                                    <ul>
                                        <li>
                                            Programista. Jego pierwszy program powstał na Commodore C64, była to dwu-klatkowa animacja ludzika wykonana ze znaków dostępnych z klawiatury. Napisana w języku BASIC, gdzieś ok. 93r. Od tamtego czasu, walcząc z przeciwnościami losu i dorastając, skakał po różnych językach i technologiach.
                                        </li>
                                        <li>
                                            <a href="http://www.mrdev.pl" target="_blank" class="icon-social-round icofont icofont-site-map"></a>
                                            <a href="http://www.facebook.com/MrDev-280928869136591/" target="_blank" class="icon-social-round icofont icofont-social-facebook"></a>
                                            <a href="http://www.twitter.com/k_owsiany" target="_blank" class="icon-social-round icofont icofont-social-twitter"></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-md-12">
                <div class="row person-wrapper single_pricing_block reveal animated" data-reveal-anim="fadeInRightShort">
                    <div class="col-md-2 col-sm-3 person">
                        <img src="~/images/people/photo_szymon_motyka.jpg" alt="Szymon Motyka" width="80" class="img-responsive" />
                    </div>
                    <div class="col-md-10 col-sm-9">
                        <div class="pricing_right al">
                            <div class="price_detail">
                                <div class="pricing_title">
                                    <h4>Szymon Motyka</h4>
                                </div>
                                <div class="event_info">
                                    <ul>
                                        <li>
                                            Programista, kawosz amator i bloger. Prowadzi bardziej programistyczny serwis szymonmotyka.pl oraz kawowowo udziela się na kawowipodroznicy.pl. Uwielbia gadżety i nowe technologie.
                                        </li>
                                        <li>
                                            <a href="http://www.szymonmotyka.pl" target="_blank" class="icon-social-round icofont icofont-site-map"></a>
                                            <a href="http://www.facebook.com/SzymonMotykapl/" target="_blank" class="icon-social-round icofont icofont-social-facebook"></a>
                                            <a href="http://www.twitter.com/AlusPL/" target="_blank" class="icon-social-round icofont icofont-social-twitter"></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="row person-wrapper single_pricing_block reveal animated" data-reveal-anim="fadeInRightShort">
                    <div class="col-md-2 col-sm-3 person">
                        <img src="~/images/people/photo_kamil_smieszek.jpg" alt="Kamil Śmieszek" width="80" class="img-responsive" />
                    </div>
                    <div class="col-md-10 col-sm-9">
                        <div class="pricing_right al">
                            <div class="price_detail">
                                <div class="pricing_title">
                                    <h4>Kamil Śmieszek</h4>
                                </div>
                                <div class="event_info">
                                    <ul>
                                        <li>
                                            Programista Java, który zmienił obóz z Oracle na Microsoft pod wpływem .NET Core. Interesuje się tematyką sieci komputerowych, bezpieczeństwem aplikacji, a w wolnych chwilach lubi spalić nieco benzyny na torze wyścigowym i tworzyć trance.
                                        </li>
                                        <li>
                                            <a href="http://www.facebook.com/KamilSmieszekSkCe" target="_blank" class="icon-social-round icofont icofont-social-facebook"></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="row person-wrapper single_pricing_block reveal animated" data-reveal-anim="fadeInRightShort">
                    <div class="col-md-2 col-sm-3 person">
                        <img src="~/images/people/photo_pawel_sulzycki.jpg" alt="Paweł Sulżycki" width="80" class="img-responsive" />
                    </div>
                    <div class="col-md-10 col-sm-9">
                        <div class="pricing_right al">
                            <div class="price_detail">
                                <div class="pricing_title">
                                    <h4>Paweł Sulżycki</h4>
                                </div>
                                <div class="event_info">
                                    <ul>
                                        <li>
                                            Programista .NET, nauczyciel programowania, członek koła studenckiego EKA.NET.  Interesuje się rozwiązaniami chmurowymi, w tym przede wszystkim Microsoft Azure. W wolnych chwilach lubi spędzać aktywnie czas – najbardziej preferuje potargać trochę stali.
                                        </li>
                                        <li>
                                            <a href="https://www.facebook.com/people/Pawe%C5%82-Sul%C5%BCycki/100004017757756" target="_blank" class="icon-social-round icofont icofont-social-facebook"></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
