@{
    ViewData["Title"] = "About";
}

<div class="row content-centered">
    <div class="col-md-8">
        <div class="about-person">
            <div class="row">
                <div class="col-md-2">
                    <img src="~/images/photo_weronika_tobor.png" alt="Weronika Tobor" width="80" />
                </div>
                <div class="col-md-10">
                    <h2>Weronika Tobor</h2>
                    <p>Główny organizator projektu od 2017 roku oraz programista. Bloguje na <a href="http://www.programmer-girl.com">www.programmer-girl.com</a> i aktywnie udziela się we wrocławskim świecie IT. Zaangażowana m. in. w organizację Wroc# Online.</p>
                </div>
            </div>
            <div class="row about-social-section">
                <div class="col-md-4"><img src="~/images/icon_www.png" alt="WWW" /><a href="http://www.programmer-girl.com">www.programmer-girl.com</a></div>
                <div class="col-md-4"><img src="~/images/icon_fb.png" alt="Facebook" />@@programmergirlblog</div>
                <div class="col-md-4"><img src="~/images/icon_tt.png" alt="Twitter" />@@_programmergirl</div>
            </div>
        </div>
        <div class="about-person">
            <div class="row">
                <div class="col-md-2">
                    <img src="~/images/photo_michal_gellert.png" alt="Michał Gellert" width="80" />
                </div>
                <div class="col-md-10">
                    <h2>Michał Gellert</h2>
                    <p>Odpowiedzialny za osobowość prawną, marketing, oraz dostarczenie projektu. Bloger, vloger, programista, tata. Do tego tworzy kursy, czasem nawet znajdzie czas na wakacje... w górach!</p>
                </div>
            </div>
            <div class="row about-social-section">
                <div class="col-md-4"><img src="~/images/icon_www.png" alt="WWW" /><a href="http://www.michalgellert.pl">www.michalgellert.pl</a></div>
                <div class="col-md-4"><img src="~/images/icon_fb.png" alt="Facebook" />@@MichalGellertPl</div>
                <div class="col-md-4"><img src="~/images/icon_tt.png" alt="Twitter" />@@MichalGellert</div>
            </div>
        </div>
        <div class="about-person">
            <div class="row">
                <div class="col-md-2">
                    <img src="~/images/photo_mikolaj_jakubowski.png" alt="Mikołaj Jakubowski" width="80" />
                </div>
                <div class="col-md-10">
                    <h2>Mikołaj Jakubowski</h2>
                    <p>Programista z duszą artysty, zajmuje się częścią wizualną projektu. …</p>
                </div>
            </div>
            <div class="row about-social-section">
                <div class="col-md-4"><img src="~/images/icon_www.png" alt="WWW" /><a href="http://www.programista-artysta.pl">www.programista-artysta.pl</a></div>
                <div class="col-md-4"><img src="~/images/icon_fb.png" alt="Facebook" />@@blazestudioart</div>
                <div class="col-md-4"><img src="~/images/icon_tt.png" alt="Twitter" />@@blazestudio_art</div>
            </div>
        </div>
        <div class="about-person">
            <div class="row">
                <div class="col-md-2">
                    <img src="~/images/photo_radek_maziarka.png" alt="Radek Maziarka" width="80" />
                </div>
                <div class="col-md-10">
                    <h2>Radek Maziarka</h2>
                    <p>
                        Główny konsultant do spraw marketingu. Technology Development Manager, Team Leader i programista w obszarze .NET prowadzący wewnętrzne prezentacje i szkolenia, a także organizujący webinarium programistyczne WROC# Online. Po pracy pomaga firmom w projektach IT oraz wspomaga technologicznie Stowarzyszenie Libertariańskie. Zwolennik dostarczania wartości małymi krokami.
                    </p>
                </div>
            </div>
            <div class="row about-social-section">
                <div class="col-md-4"><img src="~/images/icon_www.png" alt="WWW" /><a href="http://www.radblog.pl">www.radblog.pl</a></div>
                <div class="col-md-4"><img src="~/images/icon_fb.png" alt="Facebook" />@@radblog.radek.maziarka</div>
                <div class="col-md-4"><img src="~/images/icon_tt.png" alt="Twitter" />@@RadekMaziarka</div>
            </div>
        </div>
        <div class="about-person">
            <div class="row">
                <div class="col-md-2">
                    <img src="~/images/photo_krzysztof_owsiany.png" alt="Krzysztof Owsiany" width="80" />
                </div>
                <div class="col-md-10">
                    <h2>Krzysztof Owsiany</h2>
                    <p>
                        Programista. Jego pierwszy program powstał na Commodore C64, była to dwu-klatkowa animacja ludzika wykonana ze znaków dostępnych z klawiatury. Napisana w języku BASIC, gdzieś ok. 93r. Od tamtego czasu, walcząc z przeciwnościami losu i dorastając, skakał po różnych językach i technologiach.
                    </p>
                </div>
            </div>
            <div class="row about-social-section">
                <div class="col-md-4"><img src="~/images/icon_www.png" alt="WWW" /><a href="http://www.mrdevmok.pl">www.mrdevmok.pl</a></div>
                <div class="col-md-4"><img src="~/images/icon_fb.png" alt="Facebook" />@@MrDev</div>
                <div class="col-md-4"><img src="~/images/icon_tt.png" alt="Twitter" />@@k_owsiany</div>
            </div>
        </div>
        <div class="about-person">
            <div class="row">
                <div class="col-md-2">
                    <img src="~/images/photo_szymon_motyka.png" alt="Szymon Motyka" width="80" />
                </div>
                <div class="col-md-10">
                    <h2>Szymon Motyka</h2>
                    <p>
                        Programista.
                    </p>
                </div>
            </div>
            <div class="row about-social-section">
                <div class="col-md-4"><img src="~/images/icon_www.png" alt="WWW" /><a href="http://www.szymonmotyka.pl">www.szymonmotyka.pl</a></div>
                <div class="col-md-4"><img src="~/images/icon_fb.png" alt="Facebook" />@@SzymonMotykapl</div>
                <div class="col-md-4"><img src="~/images/icon_tt.png" alt="Twitter" />@@AlusPL</div>
            </div>
        </div>
        <div class="about-person">
            <div class="row">
                <div class="col-md-2">
                    <img src="~/images/photo_kamil_smieszek.png" alt="Kamil Śmieszek" width="80" />
                </div>
                <div class="col-md-10">
                    <h2>Kamil Śmieszek</h2>
                    <p>
                        Programista.
                    </p>
                </div>
            </div>
            <div class="row about-social-section">
                <div class="col-md-4"></div>
                <div class="col-md-4"><img src="~/images/icon_fb.png" alt="Facebook"/>@@KamilSmieszekSkCe</div>
                <div class="col-md-4"></div>
            </div>
        </div>
    </div>
</div>