@using static DevAdventCalendarCompetition.Resources.ViewsMessages

<div class="breadcrumb_area">
    <div class="container">
        <div class="row">
            <div class="breadcrumb_wrapper">
                <div class="page_title">
                    <h3>@Contact</h3>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="blog_section">
    <div class="container">
        <div class="col-md-6 col-sm-6 left_side"></div>
        <div class="col-md-5 col-sm-6 xs_fullwidth col-md-offset-1">
            <div class="blog_area half_content_section">
                <div class="area_title">
                    <h3>@PleaseContactUs</h3>
                </div>
                <div class="helf_section_content">
                    <p class="mb-30">
                        <a href="mailto:devadventcalendar@gmail.com" class="link link_dark">
                            devadventcalendar@gmail.com
                        </a>
                    </p>
                    <p class="mb-30">
                        @SocialMedia
                        <a href="https://www.facebook.com/devadventcalendar/" target="_blank" rel="noopener noreferrer" >
                            <span class="icon-social-round icon-social-dark icofont icofont-social-facebook"></span>
                        </a>
                        <a href="https://twitter.com/dev_advent_cal" target="_blank" rel="noopener noreferrer" >
                            <span class="icon-social-round icon-social-dark icofont icofont-social-twitter"></span>
                        </a>
                        <a href="https://www.youtube.com/channel/UCVyWg3P3hqUfE70btpVobfQ" target="_blank" rel="noopener noreferrer" >
                            <span class="icon-social-round icon-social-dark icofont icofont-social-youtube-play"></span>
                        </a>
                    </p>
                    @*
                    <<p>
                        <a href="https://www.facebook.com/events/995785057911866/" target="_blank" rel="noopener noreferrer" class="chris_btn reveal animated" data-reveal-anim="fadeIn">
                            @FbEvent
                        </a>
                    </p>
                    *@
                </div>
            </div>
        </div>
    </div>

    <!-- CHRISTMAS ELEMENTS -->
    <div class="christmas_elem">
        <div class="fat_snowman reveal animated" data-reveal-anim="fadeInUpShort">
            <img src="~/theme-2019/images/fat_snowman.jpg" alt="fat snowman">
        </div>
        <div class="hanging">
            <img class="svg" src="~/theme-2019/images/hanging.svg" alt="hanging element">
        </div>
        <div class="tree">
            <img class="svg" src="~/theme-2019/images/tree.svg" alt="christmas tree">
        </div>
    </div>
</section>