<div class="text-center">
    <div class="row center-block h4">
        <div class="row">
            <a href="mailto:devadventcalendar@example.com"><img src="~/images/icons/icon_mail.png" alt="E-mail" width="26" />devadventcalendar@gmail.com</a>
        </div>
        <br />
        <div class="row">
            <a href="https://www.facebook.com/devadventcalendar/" target="_blank"><img src="~/images/icons/icon_fb.png" alt="Facebook" width="26" />@@devadventcalendar</a>
        </div>
        <br />
        <div class="row">
            <a href="https://twitter.com/dev_advent_cal" target="_blank"><img src="~/images/icons/icon_tt.png" alt="Twitter" width="26" />@@dev_advent_cal</a>
        </div>
    </div>
    <br/>
    <div class="row center-block">
        <img id="santa" src="~/images/santa.JPG" alt="Święty Mikołaj" />
    </div>
</div>
