<div id="contact" class="row content-centered">
    <address>
        <div class="col">
            <div class="row">
                <a href="mailto:devadventcalendar@example.com"><img src="~/images/icon_mail.png" alt="E-mail" width="26" />devadventcalendar@gmail.com</a>
            </div>
            <div class="row">
                <a href="https://www.facebook.com/devadventcalendar/" target="_blank"><img src="~/images/icon_fb.png" alt="Facebook" width="26" />@@devadventcalendar</a>
            </div>
            <div class="row">
                <a href="https://twitter.com/dev_advent_cal" target="_blank"><img src="~/images/icon_tt.png" alt="Twitter" width="26" />@@dev_advent_cal</a>
            </div>
        </div>  
    </address>
</div>
