<div id="contact" class="row content-centered">
    <address>
        <div class="col">
            <div class="row">
                <img src="~/images/icon_mail.png" alt="E-mail" width="26" /><a href="mailto:devadventcalendar@example.com">devadventcalendar@gmail.com</a>
            </div>
            <div class="row">
                <img src="~/images/icon_fb.png" alt="Facebook" width="26" /> <a href="https://www.facebook.com/devadventcalendar/">@@devadventcalendar</a>
            </div>
            <div class="row">
                <img src="~/images/icon_tt.png" alt="Twitter" width="26" /> <a href="https://twitter.com/dev_advent_cal">@@dev_advent_cal</a>
            </div>
        </div>  
    </address>
</div>
