<div class="row content-centered">
    <div class="col content-centered">
        <img id="santa" src="~/images/sad_santa.JPG" alt="Święty Mikołaj" />
        <h2>Ups... Coś poszło nie tak...</h2>
    </div>
</div>