<div class="breadcrumb_area">
    <div class="container">
        <div class="row">
            <div class="breadcrumb_wrapper">
                <div class="page_title">
                    <h3>FAQ</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="promot_section">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-sm-10 col-sm-offset-1 col-md-offset-1">
                <div class="promot_content_wrapper">
                    <div class="promt_content area_title">
                        <h3>Co to jest Dev Advent Calendar?</h3>
                    </div>
                    <div class="promt_content faq">
                        <p>Programistyczny kalendarz adwentowy.</p>
                        <p>
                            Przez 24 dni uczestnicy otwierają po kolei “okienka” wirtualnego kalendarza i rozwiązują zagadki związane ze światem IT.
                            Za udzielone odpowiedzi zostają przydzielone punkty. Osoby, które zdobędą najwięcej punktów, otrzymają nagrody.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-10 col-sm-10 col-sm-offset-1 col-md-offset-1">
                <div class="promot_content_wrapper">
                    <div class="promt_content area_title">
                        <h3>Kiedy zaczynamy?</h3>
                    </div>
                    <div class="promt_content faq">
                        <p>Startujemy pierwszego grudnia o godzinie 13:00.</p>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-10 col-sm-10 col-sm-offset-1 col-md-offset-1">
                <div class="promot_content_wrapper">
                    <div class="promt_content area_title">
                        <h3>O której godzinie otwieramy okienko?</h3>
                    </div>
                    <div class="promt_content faq">
                        <p>Okienko otwieramy codziennie o godzinie 13:00 przez 24 dni</p>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-10 col-sm-10 col-sm-offset-1 col-md-offset-1">
                <div class="promot_content_wrapper">
                    <div class="promt_content area_title">
                        <h3>Jak podzielony jest ranking?</h3>
                    </div>
                    <div class="promt_content faq">
                        <p>Konkurs jest podzielony na 4 rankingi:</p>
                        <div class="text-left">
                            <p><b>ranking główny</b> - można w nim wygrać nagrody z sekcji nagrody główne, w rankingu tym zliczane są punkty z całego okresu trwania konkursu</p>
                            <p><b>rankingi tygodniowe:</b></p>
                            <ul>
                                <li>tydzień pierwszy - można w nim wygrać nagrody z sekcji nagrody tygodnia, punkty w tym rankingu zliczane są od pierwszego do siódmego grudnia</li>
                                <li>tydzień drugi - można w nim wygrać nagrody z sekcji nagrody tygodnia, punkty w tym rankingu zliczane są od ósmego do czternastego grudnia</li>
                                <li>tydzień trzeci - można w nim wygrać nagrody z sekcji nagrody tygodnia, punkty w tym rankingu zliczane są od piętnastego do dwudziestego pierwszego grudnia</li>
                            </ul>
                            <p>W danym rankingu nie można wygrać dwa razy.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-10 col-sm-10 col-sm-offset-1 col-md-offset-1">
                <div class="promot_content_wrapper">
                    <div class="promt_content area_title">
                        <h3>Jak działa algorytm przyznawania punktów?</h3>
                    </div>
                    <div class="promt_content faq">
                        <p>
                            Najlepsi uczestnicy zostaną wyłonieni wśród osób, które najwięcej razy otwierały “okienka” i odpowiadały poprawnie na zagadki,
                            według następujących zasad:
                        </p>
                        <div class="text-left">
                            <ul>
                                <li>regularności wysłania odpowiedzi; 100 pkt za każdy dzień</li>
                                <li>
                                    poprawności udzielanych odpowiedzi (liczby udzielonych błędnie odpowiedzi); 30 (każda błędna odpowiedź
                                    odejmuje 5 punktów, minimalna liczba punktów to 0, nie można uzyskać punktów ujemnych)
                                </li>
                                <li>
                                    godziny udzielenia odpowiedzi (w przypadku takiej samej liczby punktów u kilku uczestników, będzie brany pod uwagę sumaryczny czas od
                                    udostępnienia okienka do wysłania pierwszej poprawnej odpowiedzi)
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-10 col-sm-10 col-sm-offset-1 col-md-offset-1">
                <div class="promot_content_wrapper">
                    <div class="promt_content area_title">
                        <h3>Od którego momentu liczymy czas odpowiedzi?</h3>
                    </div>
                    <div class="promt_content faq">
                        <p>Czas odpowiedzi jest liczony od momentu otwarcia okienka.</p>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-10 col-sm-10 col-sm-offset-1 col-md-offset-1">
                <div class="promot_content_wrapper">
                    <div class="promt_content area_title">
                        <h3>Wygrałem, kiedy otrzymam maila?</h3>
                    </div>
                    <div class="promt_content faq">
                        <p>Wiadomości do zwycięzców wyślemy do 31.12.2021.</p>
                        <p>Pamiętaj, aby odpowiedzieć do 07.01.2022. W przypadku braku odpowiedzi nagroda zostanie przyznana kolejnemu uczestnikowi.</p>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-10 col-sm-10 col-sm-offset-1 col-md-offset-1">
                <div class="promot_content_wrapper">
                    <div class="promt_content area_title">
                        <h3>Chcesz usunąć swoje dane lub masz inny problem techniczny?</h3>
                    </div>
                    <div class="promt_content faq">
                        <p>Napisz do nas: <a href="mailto:devadventcalendar@gmail.com">devadventcalendar@gmail.com</a>.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>