@{
    ViewBag.Title = "Home Page";
}

<div id="home-santa" class="row">
    <div class="col-md-8 content-centered">
        <img id="santa" src="images/santa.JPG" alt="Święty Mikołaj" />
        <h2>W trakcie prac...</h2>
    </div>
</div>