@using DevAdventCalendarCompetition.Services.Models
@using DevAdventCalendarCompetition.Repository.Models
@model IEnumerable<DevAdventCalendarCompetition.Services.Models.TestDto>
@{
    var correctAnswersForUser = ViewBag.CorrectAnswers;
    var overallPossibleTestsCount = Model.Count(t => t.Status != TestStatus.NotStarted);
}

<!--================================
      START COUNTDOWN AREA
=================================-->
<section class="countdown_section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="text-center area_title title_white mb-30">
                    <h3>Zapnij pasy! Startujemy już za</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="countdown_wrapper">
                    <ul class="countdown">
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================================
      END COUNTDOWN AREA
=================================-->

<!--================================
      START HOW IT WORKS
=================================-->
<div class="single_blog_section">
    <div class="more_from_santa">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="related_post_area_title">
                        <h3>Jak to działa?</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-4">
                    <div class="single_related_post">
                        <div class="title">
                            <h4>Każdego dnia otwierasz<br/>jedno okienko kalendarza</h4>
                        </div>
<!--                        <div class="post_meta"><span>posted on 30-dec-2015</span></div>-->

                        <div class="post_image">
                            <img src="~/theme-2019/images/releted_post_img1.png" alt="images">
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="single_related_post">
                        <div class="title">
                            <h4>Odpowiadasz na pytanie<br />i zbierasz punkty</h4>
                        </div>
<!--                        <div class="post_meta"><span>posted on 30-dec-2015</span></div>-->

                        <div class="post_image">
                            <img src="~/theme-2019/images/releted_post_img2.png" alt="images">
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="single_related_post">
                        <div class="title">
                            <h4>25 grudnia<br />rozdajemy nagrody</h4>
                        </div>
<!--                        <div class="post_meta"><span>posted on 30-dec-2015</span></div>-->

                        <div class="post_image">
                            <img src="~/theme-2019/images/releted_post_img3.png" alt="images">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--================================
      END HOW IT WORKS
=================================-->

<div id="tile-open-alert" class="alert alert-warning collapse" role="alert">
    <button type="button" class="close" data-hide="alert" aria-label="Zamknij">
        <span aria-hidden="true">&times;</span>
    </button>
    <span id="alert-text"></span>
</div>

    @if (User.Identity.IsAuthenticated)
    {
        if (correctAnswersForUser != null)
        {
            <div class="col text-center correct-answers-info">
                @if (correctAnswersForUser == 0)
                {
                    <h3>Oj niedobrze, nie odpowiedziałeś jeszcze ani razu poprawnie.<br />Ale nie poddawaj się! Do boju!</h3>
                }
                else if (correctAnswersForUser == overallPossibleTestsCount)
                {
                    <h2><b>Gratulacje!</b></h2>
                    <h3>Odpowiedziałeś poprawnie we wszystkich otwartych do tej pory okienkach.</h3>
                }
                else
                {
                    <h3>Twoje statystyki wyglądają następująco:<br /><b>@correctAnswersForUser/@overallPossibleTestsCount</b><br />otwartych okienek</h3>
                }
            </div>
        }
    <div class="container">

        @for (var i = 0; i < 4; i++)
        {
            <div class="row">

                <div class="col-md-10">
                    <div class="row">
                        @for (int j = 0; j < 6; j++)
                        {
                            var dayNumber = i * 6 + j + 1;
                            var testForDay = Model.FirstOrDefault(t => t.StartDate.Value.Day == dayNumber);

                            <div class="col-md-2">
                                <div class="calendar-day" @(testForDay == null || testForDay.Status != TestStatus.Started ? "onclick=CheckTestStatus(" + testForDay?.Number + ")" : "")>
                                    <div class="panel panel-default task-@(testForDay != null && testForDay.Status == TestStatus.Started ? "active" : "inactive")">
                                        <div class="panel-body">
                                            DZIEŃ @dayNumber
                                            <div class="calendar-sponsor-img">
                                                @if (testForDay != null && testForDay.Status != TestStatus.NotStarted)
                                                {
                                                <a asp-controller="Test" asp-action="Index" asp-route-testNumber=@testForDay.Number>
                                                    <img src="images/sponsor-logo-example.jpg" alt="Logo sponsora dnia" />
                                                </a>
                                                }
                                                else
                                                {
                                                <img src="images/santa-nobackground.png" alt="Święty Mikołaj" />
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div><!-- calendar day -->
                            </div>
                        }
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="week-sponsor text-center">
                        TYDZIEŃ @(i + 1)
                        @if (i == 1)
                        {
                        <a href="https://www.objectivity.co.uk/" target="_blank">
                            <img src="~/images/marketing/objectivity.jpg" alt="objectivity" title="Objectivity" class="img-responsive center-block" />
                        </a>
                        }
                        else if (i == 2)
                        {
                        <a href="https://instapage.com" target="_blank">
                            <img src="~/images/marketing/instapage.jpg" alt="instapage" title="Instapage" class="img-responsive center-block" />
                        </a>
                        }
                    </div>
                </div>
            </div>
        }

    </div><!-- container -->
    }
    else
    {
    <!-- Begin Mailchimp Signup Form -->
    <link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet">

    <section class="contact_area" id="mc_embed_signup">
        <div class="container">
            <div class="contact_area_wrapper">
                <div class="row">
                    <div class="col-md-12">
                        <div class="area_title">
                            <h3>Zapisz się na newsletter</h3>
                            <p>I nie przegap najważniejszych wydarzeń!</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="contact_form clearfix">
                        <form action="https://michalgellert.us14.list-manage.com/subscribe/post?u=8273a841f65d9cbb0055b7672&amp;id=76610be8a5" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                            <div class="col-md-3 col-sm-6">
                                <div class="text_field mc-field-group">
                                    <input type="email" placeholder="E-mail" value="" name="EMAIL" class="required email" id="mce-EMAIL">
                                </div>
                            </div>

                            <div class="col-md-3 col-sm-6">
                                <div class="text_field mc-field-group">
                                    <input type="text" placeholder="Imię" value="" name="FNAME" class="" id="mce-FNAME">
                                </div>
                            </div>

                            <div class="col-md-3 col-sm-6">
                                <div class="text_field mc-field-group">
                                    <input type="text" placeholder="Nazwisko" value="" name="LNAME" class="" id="mce-LNAME">
                                </div>
                            </div>

                            <div class="col-md-3 col-sm-6">
                                <div id="mce-responses" class="clear">
                                    <div class="response" id="mce-error-response" style="display: none"></div>
                                    <div class="response" id="mce-success-response" style="display: none"></div>
                                </div> <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                                <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_8273a841f65d9cbb0055b7672_76610be8a5" tabindex="-1" value=""></div>
                                <div class="clear content-centered"><input type="submit" value="Zapisz się" name="subscribe" id="mc-embedded-subscribe" class="chris_btn reveal animated" data-reveal-anim="fadeIn"></div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
    <script>
        (function ($) {
            window.fnames = new Array();
            window.ftypes = new Array();
            fnames[0] = 'EMAIL';
            ftypes[0] = 'email';
            fnames[1] = 'FNAME';
            ftypes[1] = 'text';
            fnames[2] = 'LNAME';
            ftypes[2] = 'text';
            fnames[3] = 'ADDRESS';
            ftypes[3] = 'address';
            fnames[4] = 'PHONE';
            ftypes[4] = 'phone';
        }(jQuery));
        var $mcj = jQuery.noConflict(true);
    </script>
    <!--End mc_embed_signup-->
    }
