@using DevAdventCalendarCompetition.Services.Models
@model IEnumerable<DevAdventCalendarCompetition.Services.Models.TestDto>
@{
    var correctAnswersForUser = ViewBag.CorrectAnswers;
    var overallPossibleTestsCount = Model.Count(t => t.Status != TestStatus.NotStarted);
}
<div id="tile-open-alert" class="alert alert-warning collapse" role="alert">
    <button type="button" class="close" data-hide="alert" aria-label="Zamknij">
        <span aria-hidden="true">&times;</span>
    </button>
    <span id="alert-text"></span>
</div>
<div class="row">
    @if (User.Identity.IsAuthenticated)
    {
        if (correctAnswersForUser != null)
        {
            <div class="col text-center correct-answers-info">
                @if (correctAnswersForUser == 0)
                {
                    <h3>Oj niedobrze, nie odpowiedziałeś jeszcze ani razu poprawnie.<br/>Ale nie poddawaj się! Do boju!</h3>
                }
                else if (correctAnswersForUser == overallPossibleTestsCount)
                {
                    <h2><b>Gratulacje!</b></h2>
                    <h3>Odpowiedziałeś poprawnie we wszystkich otwartych do tej pory okienkach.</h3>
                }
                else
                {
                    <h3>Twoje statystyki wyglądają następująco:<br /><b>@correctAnswersForUser/@overallPossibleTestsCount</b><br />otwartych okienek</h3>                   
                }                
            </div>
        }
        <div class="col content-centered">
            <table class="calendar-content">
                <tbody>
                    @for (var i = 0; i < 4; i++)
                    {
                        <tr>
                            @for (int j = 0; j < 6; j++)
                            {
                                var dayNumber = i * 6 + j + 1;
                                var testForDay = Model.FirstOrDefault(t => t.StartDate.Value.Day == dayNumber);

                                <td class="calendar-day" @(testForDay == null || testForDay.Status != TestStatus.Started ? "onclick=CheckTestStatus(" + testForDay?.Number + ")" : "")>
                                    <div class="panel panel-default task-@(testForDay != null && testForDay.Status == TestStatus.Started ? "active" : "inactive")">
                                        <div class="panel-body">
                                            DZIEŃ @dayNumber
                                            <div class="calendar-sponsor-img">
                                                @if (testForDay != null && testForDay.Status != TestStatus.NotStarted)
                                                {
                                                    <a asp-controller="Test" asp-action="Index" asp-route-testNumber=@testForDay.Number>
                                                        <img src="images/@(string.IsNullOrEmpty(testForDay.SponsorLogoUrl) ? "sponsor-logo-example.jpg" : testForDay.SponsorLogoUrl)" alt="Logo sponsora dnia" />
                                                    </a>
                                                }
                                                else
                                                {
                                                    <img src="images/santa-nobackground.png" alt="Święty Mikołaj" />
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            }
                            <td class="week-sponsor text-center">
                                TYDZIEŃ @(i + 1)
                                @if (i == 1)
                                {
                                    <a href="https://www.objectivity.co.uk/" target="_blank">
                                        <img src="~/images/marketing/objectivity.jpg" alt="objectivity" title="Objectivity" class="img-responsive center-block" />
                                    </a>
                                }
                                else if (i == 2)
                                {
                                    <a href="https://instapage.com" target="_blank">
                                        <img src="~/images/marketing/instapage.jpg" alt="instapage" title="Instapage" class="img-responsive center-block" />
                                    </a>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
    else
    {
        <div class="col text-center">
            <img id="santa" src="images/santa.JPG" alt="Święty Mikołaj" />
            <h1><b>@Html.ActionLink("Zaloguj się", "Login", "Account")</b></h1>
            <h3>i sprawdź, co dziś przygotowały dla Ciebie Elfy Świętego Mikołaja!</h3>
        </div>
    }
</div>