@using DevAdventCalendarCompetition.Services.Models
@using  DevAdventCalendarCompetition.Repository.Models
@model IEnumerable<DevAdventCalendarCompetition.Services.Models.TestDto>
@{
    var correctAnswersForUser = ViewBag.CorrectAnswers;
    var overallPossibleTestsCount = Model.Count(t => t.Status != TestStatus.NotStarted);
}
<div id="tile-open-alert" class="alert alert-warning collapse" role="alert">
    <button type="button" class="close" data-hide="alert" aria-label="Zamknij">
        <span aria-hidden="true">&times;</span>
    </button>
    <span id="alert-text"></span>
</div>
<div class="row">
    @if (User.Identity.IsAuthenticated)
    {
        if (correctAnswersForUser != null)
        {
            <div class="col text-center correct-answers-info">
                @if (correctAnswersForUser == 0)
                {
                    <h3>Oj niedobrze, nie odpowiedziałeś jeszcze ani razu poprawnie.<br />Ale nie poddawaj się! Do boju!</h3>
                }
                else if (correctAnswersForUser == overallPossibleTestsCount)
                {
                    <h2><b>Gratulacje!</b></h2>
                    <h3>Odpowiedziałeś poprawnie we wszystkich otwartych do tej pory okienkach.</h3>
                }
                else
                {
                    <h3>Twoje statystyki wyglądają następująco:<br /><b>@correctAnswersForUser/@overallPossibleTestsCount</b><br />otwartych okienek</h3>
                }
            </div>
        }
        <div class="col content-centered">
            <table class="calendar-content">
                <tbody>
                    @for (var i = 0; i < 4; i++)
                    {
                        <tr>
                            @for (int j = 0; j < 6; j++)
                            {
                                var dayNumber = i * 6 + j + 1;
                                var testForDay = Model.FirstOrDefault(t => t.StartDate.Value.Day == dayNumber);

                                <td class="calendar-day" @(testForDay == null || testForDay.Status != TestStatus.Started ? "onclick=CheckTestStatus(" + testForDay?.Number + ")" : "")>
                                    <div class="panel panel-default task-@(testForDay != null && testForDay.Status == TestStatus.Started ? "active" : "inactive")">
                                        <div class="panel-body">
                                            DZIEŃ @dayNumber
                                            <div class="calendar-sponsor-img">
                                                @if (testForDay != null && testForDay.Status != TestStatus.NotStarted)
                                                {
                                                    <a asp-controller="Test" asp-action="Index" asp-route-testNumber=@testForDay.Number>
                                                        <img src="images/sponsor-logo-example.jpg" alt="Logo sponsora dnia" />
                                                    </a>
                                                }
                                                else
                                                {
                                                    <img src="images/santa-nobackground.png" alt="Święty Mikołaj" />
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            }
                            <td class="week-sponsor text-center">
                                TYDZIEŃ @(i + 1)
                                @if (i == 1)
                                {
                                    <a href="https://www.objectivity.co.uk/" target="_blank">
                                        <img src="~/images/marketing/objectivity.jpg" alt="objectivity" title="Objectivity" class="img-responsive center-block" />
                                    </a>
                                }
                                else if (i == 2)
                                {
                                    <a href="https://instapage.com" target="_blank">
                                        <img src="~/images/marketing/instapage.jpg" alt="instapage" title="Instapage" class="img-responsive center-block" />
                                    </a>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
    else
    {
        <div class="row content-centered">
            <div class="col-md-3"></div>
            <div class="col-md-6 text-center">
                <img id="santa" src="images/santa.JPG" alt="Święty Mikołaj" />
                <h1><b>@Html.ActionLink("Zaloguj się", "Login", "Account")</b></h1>
                <h3>i sprawdź, co dziś przygotowały dla Ciebie Elfy Świętego Mikołaja!</h3>

                <!-- Begin Mailchimp Signup Form -->
                <link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet">
                <div id="mc_embed_signup">
                    <form action="https://michalgellert.us14.list-manage.com/subscribe/post?u=8273a841f65d9cbb0055b7672&amp;id=76610be8a5" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                        <div id="mc_embed_signup_scroll">
                            <h2 class="text-center">Zachęcamy do zapisania się do newslettera!</h2>
                            <div class="indicates-required"><span class="asterisk">*</span> pole obowiązkowe</div>
                            <div class="mc-field-group">
                                <label for="mce-EMAIL">
                                    Email <span class="asterisk">*</span>
                                </label>
                                <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
                            </div>
                            <div class="mc-field-group">
                                <label for="mce-FNAME">Imię </label>
                                <input type="text" value="" name="FNAME" class="" id="mce-FNAME">
                            </div>
                            <div class="mc-field-group">
                                <label for="mce-LNAME">Nazwisko </label>
                                <input type="text" value="" name="LNAME" class="" id="mce-LNAME">
                            </div>
                            <div id="mce-responses" class="clear">
                                <div class="response" id="mce-error-response" style="display: none"></div>
                                <div class="response" id="mce-success-response" style="display: none"></div>
                            </div> <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_8273a841f65d9cbb0055b7672_76610be8a5" tabindex="-1" value=""></div>
                            <div class="clear content-centered"><input type="submit" value="Zapisz się" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
                        </div>
                    </form>
                </div>
                <script src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
                <script>
                    (function ($) {
                        window.fnames = new Array();
                        window.ftypes = new Array();
                        fnames[0] = 'EMAIL';
                        ftypes[0] = 'email';
                        fnames[1] = 'FNAME';
                        ftypes[1] = 'text';
                        fnames[2] = 'LNAME';
                        ftypes[2] = 'text';
                        fnames[3] = 'ADDRESS';
                        ftypes[3] = 'address';
                        fnames[4] = 'PHONE';
                        ftypes[4] = 'phone';
                    }(jQuery));
                    var $mcj = jQuery.noConflict(true);
                </script>
                <!--End mc_embed_signup-->
            </div>
            <div class="col-md-3"></div>
        </div>
    }
</div>