@{
    ViewData["Title"] = "Polityka prywatności i plików cookies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>@ViewData["Title"]</h2>

<p>Zwracamy szczególną uwagę na poszanowanie prywatności użytkowników odwiedzających nasz serwis www.devadventcalendar.pl. Poniższy tekst określa zasady korzystania z naszego serwisu oraz jego politykę prywatności.</p>

<p>Każda osoba odwiedzająca nasz serwis przyjmuje do wiadomości i akceptuje niżej wymienione zasady ochrony prywatności.</p>

<h3>Statystyki serwisu</h3>

<p>Korzystamy z usługi "Google Analytics" - zbierającej anonimowe informacje o odwiedzanych stronach naszych serwisów. Szczegółowe zasady dotyczące polityki prywatności "Google Analytics", w tym informacja jak można zablokować zbieranie danych znajdują się na stronie: http://www.google.com/intl/pl/analytics/privacyoverview.html.</p>

<h3>Wykorzystanie plików Cookie „Ciasteczka Cookies”</h3>

<p>Nasz serwis internetowy może wykorzystywać ciasteczka. Identyfikują one Twoją przeglądarkę oraz usprawniają działanie naszych serwisów. Ciasteczka nie zawierają żadnych danych osobowych. Niniejsza strona może stosować także inne nie wymienione technologie, których stosowanie nie jest zabronione przez prawo.</p>