@{
    ViewData["Title"] = "Polityka prywatności i plików cookies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="new_year">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="text-center">
                    <h2 class="mb-30">@ViewData["Title"]</h2>
                </div>

                <p class="mb-30">
                    Niniejsza polityka prywatności i plików cookies opisuje zasady postępowania z danymi osobowymi oraz wykorzystywania plików cookies i innych technologii w ramach strony internetowej <a href="https://devadventcalendar.pl">https://devadventcalendar.pl</a>.
                    Administratorem strony jest Michał Gellert, prowadzący działalność gospodarczą pod nazwą „Michał Gellert”, ul. Mostki 41, 63-507 Kobyla Góra, NIP: 514-030-47-54.
                    Kontakt z administratorem możliwy pod adresem e-mail: michal.gellert@gmail.com.
                </p>

                <div class="text-center">
                    <h3 class="mb-30">§ 1</h3>
                </div>
                <p>Na potrzeby niniejszej polityki prywatności, przyjmuje się następujące znaczenie poniższych pojęć:</p>
                <p>Administrator – Michał Gellert, prowadzący działalność gospodarczą pod nazwą „Michał Gellert”, ul. Mostki 41, 63-507 Kobyla Góra, NIP: 514-030-47-54.</p>
                <p>Strona – strona internetowa dostępna pod adresem <a href="https://devadventcalendar.pl">https://devadventcalendar.pl</a>,</p>
                <p class="mb-30">Użytkownik – każdy podmiot, który korzysta ze Strony.</p>

                <div class="text-center">
                    <h3>§ 2</h3>
                    <h3 class="mb-30">Dane osobowe</h3>
                </div>

                <p>
                    Administrator informuje niniejszym Użytkownika, że powierza przetwarzanie danych osobowych następującym podmiotom:
                    BOMB.PL, ul. Mickiewicza 15/401, 40-092 Katowice, Polska, NIP: 6462533515, REGON: 240344618 – w celu przechowywania danych osobowych na serwerze,
                    Amazon Ireland // One Burlington Plaza, Burlington Road, Dublin 4
                    – w celu korzystania z usługi mailingowej.
                </p>

                <p>
                    Użytkownik może przekazywać swoje dane osobowe Administratorowi za pomocą formularzy dostępnych na stronie, oraz za pomocą formularza rejestracji podając email, lub korzystając z zewnętrznych providerów, takich jak Facebook, Twitter, Google, Github.
                    Administratorem danych osobowych Użytkownika jest Administrator.
                </p>
                <p>Dane przekazane Administratorowi w ramach formularza są przetwarzane celem naliczania punktów, oraz kontaktu ze zwycięzcami, a także przypomnień o kolejnej edycji wydarzenia.</p>
                Administrator gwarantuje poufność wszelkich przekazanych mu danych osobowych.</p>
                <p>Podanie danych jest zawsze dobrowolne, ale niezbędne do podjęcia przez Użytkownika akcji, do której przeznaczony jest dany formularz.</p>
                <p>Administrator nie udostępnia przekazanych mu danych jakimkolwiek podmiotom trzecim.</p>
                <p>Dane osobowe są gromadzone z należytą starannością i odpowiednio chronione przed dostępem do nich przez osoby do tego nieupoważnione.</p>
                <p>Użytkownikowi przysługują następujące uprawnienia:</p>
                <p>- prawo do żądania dostępu do swoich danych, ich sprostowania, usunięcia lub ograniczenia przetwarzania,</p>
                <p>- prawo do wniesienia sprzeciwu wobec przetwarzania,</p>
                <p>- prawo do przenoszenia danych,</p>
                <p>- prawo do cofnięcia zgody na przetwarzanie danych osobowych w określonym celu, jeżeli Użytkownik uprzednio taką zgodę wyraził,</p>
                <p>- prawo do wniesienia skargi do organu nadzorczego w związku z przetwarzaniem danych osobowych przez Administratora</p>

                <p>Administrator niniejszym informuje Użytkownika, że dane osobowe przekazywane mu, przekazywane są do Irlandii gdzie znajduje się serwis obsługujący maile. Wynika to z faktu, że Administrator korzysta z systemu mailingowego Amazon SES, którego dostawcą jest podmiot amerykański, ale lokalizacja centrum danych znajduje się w Irlandii. Podmiot ten gwarantuje poufność danych zapisywanych w jego bazach.
                <p>Administrator informuje niniejszym Użytkownika, że powierza przetwarzanie danych osobowych następującym podmiotom:</p>
                <p>
                    BOMB.PL, ul. Mickiewicza 15/401, 40-092 Katowice, Polska, NIP: 6462533515, REGON: 240344618 – w celu przechowywania danych osobowych na serwerze,
                </p>
                <p class="mb-30">- Rocket Science Group // 675 Ponce de Leon Ave NE, Suite 5000, Atlanta, GA 30308 – w celu korzystania z usługi mailingowej.</p>

                <div class="text-center">
                    <h3>§ 3</h3>
                    <h3 class="mb-30">Pliki cookies</h3>
                </div>
                <p>Administrator wykorzystuje pliki cookies (ciasteczka), czyli niewielkie informacje tekstowe, przechowywane na urządzeniu końcowym Użytkownika (np. komputerze, tablecie, smartfonie). Cookies mogą być odczytywane przez system teleinformatyczny Administratora.</p>
                <p>Administrator przechowuje pliki cookies na urządzeniu końcowym Użytkownika, a następnie uzyskuje dostęp do informacji w nich zawartych w celach statystycznych, w celach marketingowych (remarketing) oraz w celu zapewnienia prawidłowego działania Strony.</p>
                <p>Administrator informuje niniejszym Użytkownika, że istnieje możliwość takiej konfiguracji przeglądarki internetowej, która uniemożliwia przechowywanie plików cookies na urządzeniu końcowym Użytkownika. W takiej sytuacji, korzystanie ze Strony przez Użytkownika może być utrudnione.</p>
                <p class="mb-30">Administrator wskazuje niniejszym, że pliki cookies mogą być przez Użytkownika usunięte po ich zapisaniu przez Administratora, poprzez odpowiednie funkcje przeglądarki internetowej, programy służące w tym celu lub skorzystanie z odpowiednich narzędzi dostępnych w ramach systemu operacyjnego, z którego korzysta Użytkownik.</p>

                <div class="text-center">
                    <h3>§ 4</h3>
                    <h3 class="mb-30">Inne technologie</h3>
                </div>
                <p>
                    Administrator informuje niniejszym Użytkownika, że może stosować następujące technologie śledzące działania podejmowane przez Użytkownika w ramach Strony:
                </p>
                <p>- piksel konwersji Facebooka – w celu zarządzania reklamami na Facebooku i prowadzenia działań remarketingowych,</p>
                <p class="mb-30">- kod śledzenia Google Analitycs – w celu analizy statystyk Strony.</p>

                <div class="text-center">
                    <h3>§ 5</h3>
                    <h3 class="mb-30">Logi serwera</h3>
                </div>
                <p>Korzystanie ze Strony wiąże się z przesyłaniem zapytań do serwera, na którym przechowywana jest Strona.</p>
                <p>
                    Każde zapytanie skierowane do serwera zapisywane jest w logach serwera. Logi obejmują m.in. adres IP Użytkownika, datę i czas serwera, informacje o przeglądarce internetowej i systemie operacyjnym, z jakiego korzysta Użytkownik.
                    Logi zapisywane i przechowywane są na serwerze.
                </p>
                <p>Dane zapisane w logach serwera nie są kojarzone z konkretnymi osobami korzystającymi ze Strony i nie są wykorzystywane przez Administratora w celu identyfikacji Użytkownika.</p>
                <p>Logi serwera stanowią wyłącznie materiał pomocniczy służący do administrowania Stroną, a ich zawartość nie jest ujawniana nikomu poza osobami upoważnionymi do administrowania serwerem.</p>
            </div>
        </div>
    </div>
</section>