<div id="prizes" class="row content-centered">
    <div class="col-md-8 text-center">
        <h2><b>NAGRODY</b></h2>
        <h3>Słuchawki Sennheiser HD4.50 BTNC</h3>
        <div class="row">
            <div class="col-md-12 col-xs-12">
                <img src="~/images/prizes/sennheiser_hd450_btnc.jpg" alt="Sennheiser HD4.50 BTNC" title="Sennheiser HD4.50 BTNC" class="img-responsive center-block" />
            </div>
        </div>
        <h3>Raspberry Pi 3 Model B+</h3>
        <div class="row">
            <div class="col-md-12 col-xs-12">
                <img src="~/images/prizes/raspberry_pi_3_b_plus.jpg" alt="Raspberry Pi 3 Model B+" title="Raspberry Pi 3 Model B+" class="img-responsive center-block" />
            </div>
        </div>
        <h3>Głośnik JBL GO 2</h3>
        <div class="row">
            <div class="col-md-12 col-xs-12">
                <img src="~/images/prizes/jbl_go_2.jpg" alt="JBL GO 2" title="JBL GO 2" class="img-responsive center-block" />
            </div>
        </div>
        <h3>Smartband Xiaomi Mi Band 3</h3>
        <div class="row">
            <div class="col-md-12 col-xs-12">
                <img src="~/images/prizes/xiaomi_mi_band_3.jpg" alt="Xiaomi Mi Band 3" title="Xiaomi Mi Band 3" class="img-responsive center-block" />
            </div>
        </div>
        <h3>Książka<br/>Konrad Kokosa "Pro .NET Memory Management"</h3>
        <div class="row">
            <div class="col-md-12 col-xs-12">
                <img src="~/images/prizes/pro_dotnet_memory.jpg" alt="Pro .NET Memory Management" title="Pro .NET Memory Management" class="img-responsive center-block" />
            </div>
        </div>
    </div>
</div>