<div class="breadcrumb_area">
    <div class="container">
        <div class="row">
            <div class="breadcrumb_wrapper">
                <div class="page_title">
                    <h3>Nagrody</h3>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="send_wishes_section shadow mb-30">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-3 ">
                <div class="send_wishe_content">
                    <div class="area_title">
                        <h3>Mikołaj ma dla Was wyjątkowe prezenty</h3>
                    </div>
                    <p>Wypaśne słuchawki, Raspberry Pi 3, książki, wejściówki i wiele innych. Sami sprawdźcie, dlaczego w tym roku warto być grzecznym</p>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="container">
    <div class="row prizes-wrapper">
        <div class="col-sm-4 mb-30">
            <div class="border prize-wrapper flex-column flex-fullheight">
                <div class="area_title text-center mb-30">
                    <h4>Słuchawki Sennheiser HD4.50 BTNC</h4>
                </div>
                <div class="flex-centered flex-grow">
                    <img src="~/images/prizes/sennheiser_hd450_btnc.jpg" alt="Sennheiser HD4.50 BTNC" title="Sennheiser HD4.50 BTNC" class="img-responsive center-block" />
                </div>
            </div>
        </div>
        <div class="col-sm-4 mb-30">
            <div class="border prize-wrapper flex-column flex-fullheight">
                <div class="area_title text-center mb-30">
                    <h4>Raspberry Pi 3 Model B+</h4>
                </div>
                <div class="flex-centered flex-grow">
                    <img src="~/images/prizes/raspberry_pi_3_b_plus.jpg" alt="Raspberry Pi 3 Model B+" title="Raspberry Pi 3 Model B+" class="img-responsive center-block" />
                </div>
            </div>
        </div>
        <div class="col-sm-4 mb-30">
            <div class="border prize-wrapper flex-column flex-fullheight">
                <div class="area_title text-center mb-30">
                    <h4>Głośnik JBL GO 2</h4>
                </div>
                <div class="flex-centered flex-grow">
                    <img src="~/images/prizes/jbl_go_2.jpg" alt="JBL GO 2" title="JBL GO 2" class="img-responsive center-block" />
                </div>
            </div>
        </div>
    </div>

    <div class="row prizes-wrapper">
        <div class="col-sm-4 mb-30">
            <div class="border prize-wrapper flex-column flex-fullheight">
                <div class="area_title text-center mb-30">
                    <h4>Smartband Xiaomi Mi Band 3</h4>
                </div>
                <div class="flex-centered flex-grow">
                    <img src="~/images/prizes/xiaomi_mi_band_3.jpg" alt="Xiaomi Mi Band 3" title="Xiaomi Mi Band 3" class="img-responsive center-block" />
                </div>
            </div>
        </div>
        <div class="col-sm-4 mb-30">
            <div class="border prize-wrapper flex-column flex-fullheight">
                <div class="area_title text-center mb-30">
                    <h4>Książka Konrad Kokosa "Pro .NET Memory Management"</h4>
                </div>
                <div class="flex-centered flex-grow">
                    <img src="~/images/prizes/pro_dotnet_memory.jpg" alt="Pro .NET Memory Management" title="Pro .NET Memory Management" class="img-responsive center-block" />
                </div>
            </div>
        </div>
        <div class="col-sm-4 mb-30">
            <div class="border prize-wrapper flex-column flex-fullheight">
                <div class="area_title text-center mb-30">
                    <h4>3 bilety na wykład “Jak nie dać się zhackować”</h4>
                </div>
                <div class="flex-centered flex-grow">
                    <img src="~/images/prizes/niebezpiecznik.jpg" alt="Niebezpiecznik" title="Niebezpiecznik" class="img-responsive center-block" />
                </div>
                <div class="area_title text-center mt-30">
                    <h4>Organizowany przez Niebezpiecznik w dowolnym mieście</h4>
                </div>

            </div>
        </div>
    </div>

    <div class="row prizes-wrapper">
        <div class="col-sm-4 mb-30">
            <div class="border prize-wrapper flex-column flex-fullheight">
                <div class="area_title text-center mb-30">
                    <h4>Bilet na konferencję BoilingFrogs</h4>
                </div>
                <div class="flex-centered flex-grow">
                    <img src="~/images/prizes/boiling_frogs.jpg" alt="BoilingFrogs" title="BoilingFrogs" class="img-responsive center-block" />
                </div>
            </div>
        </div>
        <div class="col-sm-4 mb-30">
            <div class="border prize-wrapper flex-column flex-fullheight">
                <div class="area_title text-center mb-30">
                    <h4>4 licencje roczne RevDeBug</h4>
                </div>
                <div class="flex-centered flex-grow">
                    <img src="~/images/prizes/revdebug.jpg" alt="RevDeBug" title="RevDeBug" class="img-responsive center-block" />
                </div>
            </div>
        </div>
        <div class="col-sm-4 mb-30">
            <div class="border prize-wrapper flex-column flex-fullheight">
                <div class="area_title text-center mb-30">
                    <h4>Licencja na 6 miesięcy OzCode</h4>
                </div>
                <div class="flex-centered flex-grow">
                    <img src="~/images/prizes/ozcode.jpg" alt="OzCode" title="OzCode" class="img-responsive center-block" />
                </div>
            </div>
        </div>
    </div>

</div>
