<div class="breadcrumb_area">
    <div class="container">
        <div class="row">
            <div class="breadcrumb_wrapper">
                <div class="page_title">
                    <h3>Wyniki</h3>
                </div>
            </div>
        </div>
    </div>
</div>

@{
    ViewBag.Title = "Wyniki";
}
@using DevAdventCalendarCompetition.Vms
@using Microsoft.AspNetCore.Http
@model DevAdventCalendarCompetition.Vms.TestResultsVm
@if (Model == null)
{
    <section class="event_txt">
        <div class="container">
            <div class="col-md-12">
                <div class="party_text">
                    <h1>
                        Zapraszamy do tegorocznej edycji ;) <br/>
                        <img src="~/theme-2019/images/gift_bag.png" alt="gifts" class="mt-20">
                    </h1>
                </div>
            </div>
        </div>
    </section>
}
else
{
    <section class="event_txt">
        <div class="container">
            <div class="col-md-12">
                <div class="party_text">
                    @if (Model.CurrentUserPosition != 0)
                    {
                        <h1 class="mb-30">
                            Zajmujesz <span>@Model.CurrentUserPosition</span> miejsce!
                        </h1>
                    }
                    else
                    {
                        <h1 class="mb-30">
                            Niestety, nie odpowiedziałeś na żadną zagadkę ;(
                        </h1>
                    }
                    <img src="~/theme-2019/images/gift_bag.png" alt="gifts">
                </div>
            </div>
        </div>
    </section>
    <div class="container mb-100">
        <div class="row results mb-30">
            <div class="col-xs-12">
                
                <!-- Tab panes -->
                <div class="tab-content">

                @if (Model.TotalTestResults != null)
                {
                    <ul class="nav nav-tabs" id="results" role="tablist">
                        <li role="presentation" class="active">
                            <a href="#week1" aria-controls="week1" role="tab" data-toggle="tab">Tydzień 1</a>
                        </li>
                        <li role="presentation" >
                            <a href="#week2" aria-controls="week2" role="tab" data-toggle="tab">Tydzień 2</a>
                        </li>
                        <li role="presentation" >
                            <a href="#week3" aria-controls="week3" role="tab" data-toggle="tab">Tydzień 3</a>
                        </li>
                        <li role="presentation" >
                            <a href="#full" aria-controls="full" role="tab" data-toggle="tab">Pełny ranking</a>
                        </li>
                    </ul>

                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="week1">
                            @if (Model.TotalTestResults.TryGetValue(1, out var week1results))
                            {
                                await Html.RenderPartialAsync("_ResultsPage", new KeyValuePair<int,PaginatedCollection<TestResultEntryVm>>(1, week1results));
                            }
                            else
                            {
                                <br />
                                <h4 class="mb-30">
                                    Wyniki dla pierwszego tygodnia poznasz w niedzielę, 8 grudnia po godzinie 20:00.
                                </h4>
                            }
                        </div>
                        <div role="tabpanel" class="tab-pane" id="week2">
                            @if (Model.TotalTestResults.TryGetValue(2, out var week2results))
                            {
                                await Html.RenderPartialAsync("_ResultsPage", new KeyValuePair<int,PaginatedCollection<TestResultEntryVm>>(2, week2results));
                            }
                            else
                            {
                                <br />
                                <h4 class="mb-30">
                                    Wyniki dla drugiego tygodnia poznasz w niedzielę, 15 grudnia po godzinie 20:00.
                                </h4>
                            }
                        </div>
                        <div role="tabpanel" class="tab-pane" id="week3">
                            @if (Model.TotalTestResults.TryGetValue(3, out var week3results))
                            {
                                await Html.RenderPartialAsync("_ResultsPage", new KeyValuePair<int,PaginatedCollection<TestResultEntryVm>>(3, week3results));
                            }
                            else
                            {
                                <br />
                                <h4 class="mb-30">
                                    Wyniki dla trzeciego tygodnia poznasz w niedzielę, 22 grudnia po godzinie 20:00.
                                </h4>
                            }
                        </div>
                        <div role="tabpanel" class="tab-pane" id="full">
                            @if (Model.TotalTestResults.TryGetValue(4, out var finalResults))
                            {
                                await Html.RenderPartialAsync("_ResultsPage", new KeyValuePair<int,PaginatedCollection<TestResultEntryVm>>(4, finalResults));
                            }
                            else
                            {
                                <br />
                                <h4 class="mb-30">
                                    Ostateczne wyniki poznasz w środę, 25 grudnia po godzinie 20:00.
                                </h4>
                            }
                        </div>
                    </div>
                }
                else
                {
                    <div role="tabpanel" class="tab-pane" id="totalresults">Testy jeszcze się nie zakończyły</div>
                }
                </div>
            </div>
        </div>
    </div>
}