@using static DevAdventCalendarCompetition.Resources.ViewsMessages
@{
    ViewBag.Title = "Home Page";
}

<section class="new_year">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="text-center">
                    <h2 class="mb-30">@Policy</h2>
                </div>

                <p class="mb-30">
                    In progress
                </p>
            </div>
        </div>
    </div>
</section>