@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1><img class="logo" src="/images/icon.svg" /> Dev Advent Calendar</h1>
</div>

<div class="row">
    <div class="col-md-8">
        <h2>Regulamin</h2>
        <p>
            In progress
        </p>
    </div>
</div>