<div id="marketing" class="row content-centered">
    <div class="col-md-8 text-center">
        @*<h1>Sponsor kalendarza</h1>
        <div class="row content-centered">
            ------ max x 1
            <div class="col-md-8">
                <a href="http://www.devadventcalendar.pl" target="_blank">
                    <img src="~/images/marketing/unknown_image.JPG" alt="sponsor_1" width="120" />
                </a>
            </div>
        </div>*@
        <h2>Sponsorzy tygodni</h2>
        <div class="row">
            <div class="col-md-12 col-xs-12">
                <a href="https://www.objectivity.co.uk/" target="_blank">
                    <img src="~/images/marketing/objectivity.jpg" alt="objectivity" title="Objectivity" class="img-responsive center-block" />
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-xs-12">
                <a href="https://instapage.com" target="_blank">
                    <img src="~/images/marketing/instapage.jpg" alt="instapage" title="Instapage" class="img-responsive center-block" />
                </a>
            </div>
        </div>
        <h3>Sponsorzy dni</h3>
        <div class="row">
            <div class="col-md-3 col-xs-3">
            </div>
            <div class="col-md-3 col-xs-3">
                <a href="https://devstyle.pl/" target="_blank">
                    <img src="~/images/marketing/devstyle.jpg" alt="devstyle" title="Devstyle" class="img-responsive center-block" />
                </a>
            </div>
            <div class="col-md-3 col-xs-3" ">
                <a href="http://blog.kokosa.net/" target="_blank">
                    <img src="~/images/marketing/konrad_kokosa.jpg" alt="konrad_kokosa" title="Konrad Kokosa" class="img-responsive center-block" />
                </a>
            </div>
            <div class="col-md-3 col-xs-3">
            </div>
        </div>
        <h3>Patroni medialni</h3>
        <div class="row">
            <div class="col-md-2 col-xs-2">
                <a href="http://blog.kokosa.net/" target="_blank">
                    <img src="~/images/marketing/konrad_kokosa.jpg" alt="konrad_kokosa" title="Konrad Kokosa" class="img-responsive center-block" />
                </a>
            </div>
            <div class="col-md-2 col-xs-2">
                <a href="https://dotnetomaniak.pl/" target="_blank">
                    <img src="~/images/marketing/dotnetomaniak.jpg" alt="dotnetomaniak" title="Dotnetomaniak" class="img-responsive center-block" />
                </a>
            </div>
            <div class="col-md-2 col-xs-2">
                <a href="https://gemotial.com//" target="_blank">
                    <img src="~/images/marketing/gemotial.jpg" alt="gemotial" title="Gemotial" class="img-responsive center-block" />
                </a>
            </div>
            <div class="col-md-2 col-xs-2">
                <a href="https://ostrapila.pl/" target="_blank">
                    <img src="~/images/marketing/ostra_pila.jpg" alt="ostra_pila" title="Ostra Piła" class="img-responsive center-block" />
                </a>
            </div>
            <div class="col-md-2 col-xs-2">
                <a href="https://www.youtube.com/user/kolboch" target="_blank">
                    <img src="~/images/marketing/kakaboc.jpg" alt="kakaboc" title="Kakaboc" class="img-responsive center-block" />
                </a>
            </div>
            <div class="col-md-2 col-xs-2">
                <a href="https://devsi.pl/" target="_blank">
                    <img src="~/images/marketing/devsi.jpg" alt="devsi" title="Devsi" class="img-responsive center-block" />
                </a>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-2 col-xs-2">
                <a href="https://www.itstartup.pl/" target="_blank">
                    <img src="~/images/marketing/it_startup.jpg" alt="it_startup" title="IT startup" class="img-responsive center-block" />
                </a>
            </div>
            <div class="col-md-2 col-xs-2">
                <a href="https://www.youtube.com/c/overment" target="_blank">
                    <img src="~/images/marketing/overment.jpg" alt="overment" title="Overment" class="img-responsive center-block" />
                </a>
            </div>
            <div class="col-md-2 col-xs-2">
                <a href="https://codingtime.pl/" target="_blank">
                    <img src="~/images/marketing/coding_time.jpg" alt="coding_time" title="Coding Time" class="img-responsive center-block" />
                </a>
            </div>
            <div class="col-md-2 col-xs-2">
                <a href="https://www.facebook.com/frontempl/" target="_blank">
                    <img src="~/images/marketing/frontem_frontendowe_ciekawostki.jpg" alt="frontem_frontendowe_ciekawostki" title="Frontem front-endoweciekawostki" class="img-responsive center-block" />
                </a>
            </div>
            <div class="col-md-2 col-xs-2">
                <a href="http://www.wakeupandcode.pl/" target="_blank">
                    <img src="~/images/marketing/wake_up_and_code.jpg" alt="wake_up_and_code" title="Wake up and code" class="img-responsive center-block" />
                </a>
            </div>
            <div class="col-md-2 col-xs-2">
                <a href="https://programistanaswoim.pl/" target="_blank">
                    <img src="~/images/marketing/programista_na_swoim.jpg" alt="programista_na_swoim" title="Programista na swoim" class="img-responsive center-block" />
                </a>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-2 col-xs-2">
                <a href="https://devpolska.org/" target="_blank">
                    <img src="~/images/marketing/devPolska.jpg" alt="devPolska" title="devPolska" class="img-responsive center-block" />
                </a>
            </div>
            <div class="col-md-2 col-xs-2">
                <a href="https://news.uw-team.org/" target="_blank">
                    <img src="~/images/marketing/unknow_news.jpg" alt="#unknownews" title="#unknownews" class="img-responsive center-block" />
                </a>
            </div>
        </div>
    </div>
</div>