<div id="sponsors" class="row content-centered">
    <div class="col-md-8 text-center">
        <div class="row content-centered">
            <div class="alert alert-danger">
                Chcesz zostać sponsorem i znaleźć się na tej stronie? Skontaktuj się z nami!
            </div>
        </div>
        <div class="row center-block">
            <img id="santa" src="~/images/santa.JPG" alt="Święty Mikołaj" />
        </div>
        @*<h1>Sponsor kalendarza</h1>
        <div class="row content-centered">
            ------ max x 1
            <div class="col-md-8">
                <a href="http://www.devadventcalendar.pl" target="_blank">
                    <img src="~/images/sponsors/unknown_image.jpg" alt="sponsor_1" width="120" />
                </a>
            </div>
        </div>
        <h2>Sponsor tygodnia</h2>
        <div class="row">
            ------ max x 4
            <div class="col-md-3 col-xs-3">
                <a href="http://www.devadventcalendar.pl" target="_blank">
                    <img src="~/images/sponsors/unknown_image.jpg" alt="sponsor_week_1" width="80" />
                </a>
            </div>
        </div>
        <h3>Sponsor dnia</h3>
        ------ max x 4
        <div class="row">
            ------ max x 6
            <div class="col-md-2 col-xs-2">
                <a href="http://www.devadventcalendar.pl" target="_blank">
                    <img src="~/images/sponsors/unknown_image.jpg" alt="sponsor_day_1" width="60" />
                </a>
            </div>
        </div>*@
    </div>
</div>