<div id="marketing" class="row content-centered">
    <div class="col-md-8 text-center">
        <div class="row content-centered">
            <div class="alert alert-danger">
                Chcesz zostać sponsorem i znaleźć się na tej stronie? Skontaktuj się z nami!
            </div>
        </div>
        <div class="row center-block">
            <img id="santa" src="~/images/santa.JPG" alt="Święty Mikołaj" />
        </div>
        @*<h1>Sponsor kalendarza</h1>
            <div class="row content-centered">
                ------ max x 1
                <div class="col-md-8">
                    <a href="http://www.devadventcalendar.pl" target="_blank">
                        <img src="~/images/marketing/unknown_image.JPG" alt="sponsor_1" width="120" />
                    </a>
                </div>
            </div>
            <h2>Sponsor tygodnia</h2>
            <div class="row">
                ------ max x 4
                <div class="col-md-3 col-xs-3">
                    <a href="http://www.devadventcalendar.pl" target="_blank">
                        <img src="~/images/marketing/unknown_image.JPG" alt="sponsor_week_1" width="80" />
                    </a>
                </div>
            </div>*@
        <h3>Sponsorzy dni</h3>
        <div class="row">
            <div class="col-md-3 col-xs-3">
            </div>
            <div class="col-md-3 col-xs-3">
                <a href="https://devstyle.pl/" target="_blank">
                    <img src="~/images/marketing/devstyle.jpg" alt="devstyle" title="Devstyle" class="img-responsive center-block" />
                </a>
            </div>
            <div class="col-md-3 col-xs-3" ">
                <a href="http://blog.kokosa.net/" target="_blank">
                    <img src="~/images/marketing/konrad_kokosa.jpg" alt="konrad_kokosa" title="Konrad Kokosa" class="img-responsive center-block" />
                </a>
            </div>
            <div class="col-md-3 col-xs-3">
            </div>
        </div>
        <h3>Patroni medialni</h3>
        <div class="row">
            <div class="col-md-2 col-xs-2">
                <a href="http://blog.kokosa.net/" target="_blank">
                    <img src="~/images/marketing/konrad_kokosa.jpg" alt="konrad_kokosa" title="Konrad Kokosa" class="img-responsive center-block" />
                </a>
            </div>
            <div class="col-md-2 col-xs-2">
                <a href="https://dotnetomaniak.pl/" target="_blank">
                    <img src="~/images/marketing/dotnetomaniak.jpg" alt="dotnetomaniak" title="Dotnetomaniak" class="img-responsive center-block" />
                </a>
            </div>
            <div class="col-md-2 col-xs-2">
                <a href="https://blog.klimczyk.pl/" target="_blank">
                    <img src="~/images/marketing/pawel_klimczyk.jpg" alt="pawel_klimczyk" title="Paweł Klimczyk" class="img-responsive center-block" />
                </a>
            </div>
            <div class="col-md-2 col-xs-2">
                <a href="https://ostrapila.pl/" target="_blank">
                    <img src="~/images/marketing/ostra_pila.jpg" alt="ostra_pila" title="Ostra Piła" class="img-responsive center-block" />
                </a>
            </div>
            <div class="col-md-2 col-xs-2">
                <a href="https://www.youtube.com/user/kolboch" target="_blank">
                    <img src="~/images/marketing/kakaboc.jpg" alt="kakaboc" title="Kakaboc" class="img-responsive center-block" />
                </a>
            </div>
            <div class="col-md-2 col-xs-2">
                <a href="https://devsi.pl/" target="_blank">
                    <img src="~/images/marketing/devsi.jpg" alt="devsi" title="Devsi" class="img-responsive center-block" />
                </a>
            </div>
        </div>
    </div>
</div>