@using static DevAdventCalendarCompetition.Resources.ViewsMessages

<div class="breadcrumb_area">
    <div class="container">
        <div class="row">
            <div class="breadcrumb_wrapper">
                <div class="page_title">
                    <h3>@Suprise</h3>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="send_wishes_section section_padding">
    <div class="container">
        <div class="row">
            <h3>@AnswerIsBorsch</h3>
        </div>
    </div>
</section>