@{
    ViewBag.Title = "Test się zakończył";
}
@model int

<h2>@ViewBag.Title</h2>
<div>
    <p>
        Test @Model sie zakończył. Sprawdź <a href="@Url.Action("Results")">wyniki</a> testu.
    </p>
</div>