@{
    ViewBag.Title = "Udzielona odpowiedź na test";
}
@model int

<h2>@ViewBag.Title</h2>
<div>
    <p>
        Na test @Model udzieliłaś/eś odpowiedzi. Zaczekaj do końca i sprawdź <a href="@Url.Action("Results")">wyniki</a>.
    </p>
</div>