@{
    ViewBag.Title = "Test has been answered";
}
@model int

<h2>@ViewBag.Title</h2>
<div>
    <p>
        Test @Model has been answered. Wait to the end and check the <a href="@Url.Action("Results")">results</a>.
    </p>
</div>
