@*based on https://github.com/ProfessionalCSharp/MoreSamples/tree/master/ASPNETCore/GDPRSample/GDPRSample*@
@using Microsoft.AspNetCore.Http.Features
@using static DevAdventCalendarCompetition.Resources.ViewsMessages

@{
    var consentFeature = Context.Features.Get<ITrackingConsentFeature>();
    var showBanner = !consentFeature?.CanTrack ?? false;
    var cookieString = consentFeature?.CreateConsentCookie();
}

@if (showBanner)
{
    <nav id="cookieConsent" role="alert">
        <div class="container">
            <div class="text-center">
                <p>
                    @WeUseCookies
                </p>
                <div>
                    <a href="~/polityka.pdf" target="_blank" class="chris_btn">@LearnMore</a>
                    <button type="button" class="chris_btn chris_btn_empty" data-cookie-string="@cookieString">@Accept</button>
                </div>
            </div>
        </div>
    </nav>
    <script>
        (function () {
            document.querySelector("#cookieConsent button[data-cookie-string]").addEventListener("click", function (el) {
                document.cookie = el.target.dataset.cookieString;
                document.querySelector("#cookieConsent").classList.add("hidden");
            }, false);
        })();
    </script>
}