@using DevAdventCalendarCompetition.Services
@inject IdentityService IdentityService

@if (IdentityService.IsSignedIn(User))
{
    <li class="mt-30">
        <a asp-area="" asp-controller="Manage" asp-action="Index" title="Manage">Witaj @IdentityService.GetUserName(User)!</a>
    </li>
    <li>
        <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm">
            <button type="submit" class="as_link">Wyloguj</button>
        </form>
    </li>
}
else
{
    <li class="mt-30">
        <a asp-area="" asp-controller="Account" asp-action="Register" class="active">Rejestruj</a>
    </li>
    <li>
        <a asp-area="" asp-controller="Account" asp-action="Login">Zaloguj</a>
    </li>
}