@model ErrorViewModel
@using static DevAdventCalendarCompetition.Resources.ViewsMessages

@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">@Error</h1>
<h2 class="text-danger">@ErrorDesc</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}

<h3>@DevelopmentMode</h3>
<p>
    @DevelopmentErrorFullDescription1
</p>
<p>
    @DevelopmentErrorFullDescription2
</p>