@using static DevAdventCalendarCompetition.Resources.ViewsMessages

@{
    ViewBag.Title = @LockOut;
}

<hgroup>
    <h1 class="text-danger">@LockOut.</h1>
    <h2 class="text-danger">@LockOutDescription</h2>
</hgroup>