@using static DevAdventCalendarCompetition.Resources.ViewsMessages

@{
    ViewBag.Title = @LockOut;
}

<div>
    <h1 class="text-danger">@LockOut.</h1>
    <h2 class="text-danger">@AccountBlockedDescription</h2>
</div>
