@using static DevAdventCalendarCompetition.Resources.ViewsMessages

@{
    ViewBag.Title = @GoodAnswer;
}

<div class="breadcrumb_area">
    <div class="container">
        <div class="row">
            <div class="breadcrumb_wrapper">
                <div class="page_title page_title--block text-center">
                    <h3>@Gratulations</h3>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="promot_section">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-sm-offset-2 col-md-offset-3">
                <div class="promot_content_wrapper">
                    <div class="promt_content area_title">
                        <h3>@ViewBag.Title</h3>
                    </div>
                    <div class="gift_box">
                        <img src="~/theme-2019/images/santa_with_bag.png" alt="Begger_santa">
                    </div>
                    <div>
                        <br />
                        <a href="/Home/Index" class="chris_btn">@Back</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>