body {
    padding-bottom: 20px;
    min-width: 400px;
}

hr {
    border: none;
    height: 30px;
    background: repeating-linear-gradient(-45deg, transparent, transparent 5px, rgb(220, 1, 0) 5px, rgb(220, 1, 0) 20px);
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Adjusting navbar and brand-images */

.navbar {
    margin-bottom: 0;
}

.navbar-header, .navbar-header .navbar-brand {
    height: 90px;
}

.navbar-header .navbar-brand img {
    display: inline-block;
    max-height: 100px;
    max-width: 100%;
    height: auto;
}

.navbar-collapse.collapse, .navbar-collapse.collapsing {
    font-size: 2em;
    padding-top: 25px;
    color: black;
}

.nav.navbar-nav {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}

@media (min-width: 768px) {
    .navbar-nav {
        float: none;
    }
}

button.navbar-toggle {
    padding-top: 25px;
}

button.navbar-toggle .icon-bar {
    background-color: gray;
}

#calendar-logo {
    height: 80px;
}

#calendar-text {
    height: 60px;
}

#santa {
    height: 150px;
    margin-right: 20px;
    animation-name: tilt;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    -webkit-animation-name: tilt;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 8s;
    -webkit-animation-direction: alternate;
}

@keyframes tilt {
    10% {
        transform: rotate(-20deg);
        -webkit-transform: rotate(-20deg);
    }
    50% {
        transform: rotate(0);
        -webkit-transform: rotate(0);
    }
    100% {
        transform: rotate(20deg);
        -webkit-transform: rotate(20deg);
    }
}

.content-centered {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: row;
}

.container.body-content #home-santa.row {
    min-height: 500px;
}

.container.body-content #contact.row {
    min-height: 500px;
}

address .col .row {
    margin-top: 30px;
}

address .col .row img {
    margin-right: 30px;
}

address .col .row a {
    font-size: 1.5em;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

.vertical-center {
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */

    display: inline-block;
    vertical-align: middle;
}

.about-person {
    padding-bottom: 50px;
}

.about-person h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
    margin-top: 0;
}

.about-social-section {
    margin-top: 20px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {

    .navbar-header .navbar-brand {
        text-align: center;
    }

    .navbar-nav {
        margin-top: 40px;
        padding: 15px 0 15px 0;
        background-color: rgb(153, 1, 0);
    }

    .nav.navbar-nav {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .nav.navbar-nav li a {
        color: white;
    }

    .nav.navbar-nav li.active a {
        color: darkred;
        background-color: white;
    }

    .nav.navbar-nav li a:hover {
        color: darkred;
    }

    /* Hide captions */
    .carousel-caption {
        display: none;
    }

    .content-centered {
        flex-direction: column;
        margin-top: 50px;
    }

    .about-person {
        text-align: center;
    }

    .about-person h2 {
        font-size: 1.5em;
        margin-bottom: 10px;
        margin-top: 10px;
    }
}

@media screen and (max-width: 400px) {

    address {
        text-align: center;
    }

}

.mc-field-group {
    padding: 2px 0;
}

.mc-field-group label,
.mc-field-group input {
    width: 49%;
    padding: 3px 0;
}

#mc-embedded-subscribe {
    background: #dc0100;
    border: 1px solid #dc0100;
    color: white;
    padding: 6px 12px;
    margin-top: 10px;
    font-weight: bold;
}

#mc-embedded-subscribe:hover {
    background: #990100;
    border-color: #990100;
}

.nav.navbar-nav li a {
    background: #dc0100;
    margin: 0 0 0 7px;
    color: white
}

.nav.navbar-nav li a:hover {
    background: #990100;
}

.navbar-collapse {
    padding-right: 0 !important;
}

.about-social-section {
    border-bottom: 1px solid #f0f0f0;
    padding-bottom: 5px;
}

.about-social-section a {
    margin-left: 7px
}