
#puzzle { 
    display: flex;
    flex-direction: row;
    margin:auto; 
    border-radius:5px; 
    max-width: 890px;
    max-height: 750px;
}

#puzzle figure { 
    width:800px; 
    height:600px;    
    position:relative; 
    float:left; 
    background-color:#fff; 
}

#puzzle .puzzle-container {
    border:5px solid rgb(197, 197, 197); 
    box-shadow:15px 15px 10px rgb(197, 197, 197); 
    position: relative;
}

.ui { 
    display: block;
    margin-top: 50px;
    padding: 600px 0 0 25px; 
}

.ui button { 
    width:100px; 
    height:50px; 
    font-size:1.75em;
}

.ui p { 
    font-size:1.7em; 
}

.ui h2 {
    margin-bottom: 2em;
    vertical-align: top;
    text-align: right;
}