@model DevAdventCalendarCompetition.Services.Models.TestDto

<div class="row">
    <div class="col-md-12">
        <h3>Test @Model.Number</h3>
        <p>
            <b>Status: </b>Test not started
        </p>
    </div>
    <div class="col-md-12">
        <form class="form-inline" method="POST" action="/Admin/StartTest">
            @Html.Hidden("testId", Model.Id)
            <div class="form-group">
                <label for='timeString'>Time to end in minutes</label>
                <input id='timeString' type="text" name="minutesString" class="form-control" placeholder="default 20 minutes">
            </div>
            <button type="submit" class="btn btn-default">Start</button>
        </form>
    </div>
</div>