
@model DevAdventCalendarCompetition.Models.Test

<div class="row">
    <div class="col-md-12">
        <h3>Test @Model.Number</h3>
        <p>
            <b>Status: </b>Previous test not ended
        </p>
    </div>
</div>