@using static DevAdventCalendarCompetition.Resources.ViewsMessages

<div class="container mt-30 mb-30">
    <div class="row content-centered">
        @using (Html.BeginForm(FormMethod.Post))
        {
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label>@WeekNumber</label>
                <input class="form-control" value="4" required />
            </div>
            <div class="content-centered">
                <button type="submit" class="btn btn-default">@Calculate</button>
            </div>
        }
        <form class="form" method="POST" action=""></form>
    </div>
</div>