<div class="breadcrumb_area mb-30">
    <div class="container">
        <div class="row">
            <div class="breadcrumb_wrapper">
                <div class="page_title">
                    <h3>Newsletter</h3>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="promot_section">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-sm-offset-2 col-md-offset-3">
                <div class="promot_content_wrapper">
                    <div class="area_title mb-30">
                        <h3>Dziękujemy za potwierdzenie subskrypcji! Teraz wiemy, że Ty to Ty :)</h3>
                    </div>
                    <div class="gift_box reveal animated" data-reveal-anim="bounceIn" data-anim-delay="0.3s">
                        <img src="~/theme-2019/images/santa_with_bag.png" alt="Begger_santa">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
